.jumbotron h1,
.jumbotron p {
    text-align: center;
}

li {
    overflow: auto;
    cursor: pointer;
}

.high {
    color: white;
    background-color: red;
}

.medium {
    color: black;
    background-color: goldenrod;
}

.low {
    color: black;
    background-color: lightgreen;
}

.badge {
    font-size: 100%;
}

#weather-icon {
    max-width: 50px;
    max-height: 50px;
}

#forecast-row {
    justify-content: center;
}

#rain {
    background-image: url(../images/rain.jpg);
}

#clouds {
    background-image: url(../images/clouds.jpg);
}

#drizzle {
    background-image: url(../images/drizzle.jpg);
}

#clear {
    background-image: url(../images/clear.jpg);
}

#thunderstorm {
    background-image: url(../images/thunderstorm.jpg);
}

#snow {
    background-image: url(../images/snow.jpg);
}

#atmosphere {
    background-image: url(../images/atmosphere.jpg);
}